body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.calculator {
    border: 2px solid black;
    border-radius: 5px;
    width: 15rem;
    height: 20rem;
    padding: 1em;
    margin-top: 2em;
}

.display{
    background-color: hsl(0, 0%, 90%, 0.5);
    height: 10%;
    margin: 0.5em;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row-reverse;
    padding-top: 2em;
    margin-bottom: 1em;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    height: 70%;
}